/*
This style file is a mixture of the css file from the PHOTON project (s. [1] and the photon.css file), some css styles from the demo app of electron [1] and own customizations.

[0] http://photonkit.com
[1] https://github.com/electron/electron-api-demos
*/

@charset "UTF-8";
.sidebar {
    width: 250px;
}

.pane-group {
    position: relative;
}

.nav-group {
    height: 100%;
    display: block;
}

.nav-group-title {
    padding: 10px 10px 2px;
    font-size: 20pt;
    text-align: center;
}

.nav-group-item {
    padding: 10px 20px 10px 20px;
    width: 250px;
    border: none;
    outline: none;
    background-color: transparent;
    text-align: left;
    transition: width 0.2s ease-in, background-color 0.2s ease-in;
}

.nav-group-item-content {
    margin: 5px 10px 5px 0px;
}

.nav-group-item-content.active, .nav-group-item:active {
    width: 270px;
    transition: width 0.2s ease-out, background-color 0.2s ease-out;
}

.content.is-shown {
    visibility: visible;
    opacity: 1;
}

.section {
    position: absolute;
    margin: 0 0 0 40px;
    overflow-x: hidden;
    overflow-y: auto;
    color: var(--color-accent);
    /* Hide */
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transform: translateX(-40px);
    transition: visibility 0s 0.2s linear, opacity 0.2s ease-in, transform 0.2s ease-in;
}

.section.is-shown {
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
    transition: visibility 0s 0s linear, opacity 0.2s ease-out, transform 0.2s ease-out;
}

.icon {
    pointer-events: none;
    margin-right: 5px;
    color: inherit !important;
}
