/*
These colors are based on the google color palette (https://material.io/guidelines/style/color.html).
*/

.sidebar {
    /* Gray - 300 */
    background-color: #E0E0E0;
}

.nav-group-item, .nav-group-title {
    /* Gray - 800 */
    color: #424242;
}

.nav-group-item-content.active, .nav-group-item:active, .btn-group .active {
    /* Indigo - 400 */
    background-color: #7E57C2;
    color: white;
}

.btn-group .active {
    border: 1px solid transparent;
    background-image: none;
}
