/*
These colors are based on the google color palette (https://material.io/guidelines/style/color.html).
*/

body, .window {
    background-color: #424242;
    color: #FFFFFF;
}

.navigation {
    /* Gray - 900 */
    background-color: #212121;
}

.navigationItem, .navigationTitle {
    color: #FFFFFF;
    background-color: transparent;
}

.navigationItemContent.active, .navigationItem:active {
    /* Indigo - 400 */
    background-color: #7E57C2;
    color: #FFFFFF;
}

.buttonGroup .active, .button:active {
    /* Indigo - 400 */
    background-color: #7E57C2;
    /* Gray - 400 */
    border: 1px solid #BDBDBD;
}

.button .buttonRightIcon {
    color: #FFFFFF !important;
}

.buttonRightIcon {
    color: #BDBDBD !important;
}

.button {
    color: #FFFFFF;
    /* Gray - 400 */
    border: 1px solid #BDBDBD;
    /* Gray - 800 */
    background-color: #424242;
    background-image: none;
}

.buttonGroup .button + .button {
    /* Gray - 700 */
    border: 1px solid #BDBDBD;
}

.toolbar {
    /* Gray - 900 */
    background-color: #212121;
    background-image: none;
}

.toolbar-header {
    /* Gray - 700 */
    border-bottom: 1px solid #616161;
}

.toolbar-actions {
    margin: 0;
    padding: 0;
}
